<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jason.workdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".touchevent.velocity.VelocityTrackerDemoActivity"/>
        <activity android:name=".demo.SchemeDemoActivity"/>
        <activity android:name=".touchevent.gesture.GestureActivity"/>
        <activity android:name=".animation.AnimActivity"/>
        <activity android:name=".animation.ScrollActivity"/>
        <activity android:name=".touchevent.event.TouchActivity"/>
        <activity android:name=".touchevent.scrollconflict.ScrollConflictActivity"/>
        <activity android:name=".plugin.loaddex.PluginActivity"/>
        <activity android:name=".demo.HandlerDemoActivity"/>
        <activity android:name=".view.CustomViewActivity"/>
        <activity android:name=".demo.webview.WebviewActivity"/>
        <activity android:name=".demo.ListViewActivity"/>
        <activity android:name=".demo.span.SpanDemoActivity"/>
        <activity android:name=".demo.TextViewActivity"/>
        <activity android:name=".demo.scroller.ScrollerActivity"/>
        <activity android:name=".page.FragmentMainActivity"/>
        <activity android:name=".ipc.aidl.AIDLActivity"/>
        <service android:name=".ipc.aidl.BookService"/>
        <service android:name=".plugin.hook.service.ProxyService"/>
        <provider
            android:authorities="com.jason.workdemo"
            android:name=".plugin.hook.contentprovider.ProxyContentProvider"
            android:exported="true"/>
        <activity android:name=".plugin.hook.HookActivity"/>
        <activity android:name=".plugin.hook.StubActivity"/>
        <activity android:name=".kotlin.KotlinActivity"/>
        <activity android:name=".kotlin.AnotherKotlinActivity"/>
        <activity android:name=".demo.rxbus.RxBusActivityA"/>
        <activity android:name=".demo.rxbus.RxBusActivityB"/>
        <activity android:name=".opengl.FirstOpenGLProjectActivity"/>
    </application>

</manifest>